<nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 mb-4 bg-white shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0">
        <a href="/" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">Rails Blog</a>
    </div>
    <div>
        <a href="/articles/new" class="text-lg no-underline text-gray-900 hover:text-gray-500 ml-2">New article</a>
        <a href="https://google.ca" class="text-lg no-underline text-gray-900 hover:text-gray-500 ml-2">Logout</a>
    </div>
</nav>